/* это стиль не только форм, но и блока пак
    но у этого блока из стилей только фул  
    пак вначале чтобы повысить специфичность (а сам класс чтобы букву а перенести как в макете))))*/
.pack .subtitle-fool {
  max-width: 400px;
}

.form {
  background-color: white;
  border-radius: 50px;
  padding: 70px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-row-gap: 32px;
  grid-column-gap: 30px;
  max-height: 986px;
}

.comment-block {
  grid-column-start: 1;
  grid-column-end: 3;
	grid-row: 4;
}

.radio-block {
  grid-column-start: 1;
  grid-column-end: 3;
	grid-row: 5;
  margin-top: 2px;
  margin-bottom: -1px;
}

.checkbox-block {
  grid-column-start: 1;
  grid-column-end: 3;
	grid-row: 6;
}

.form__control {
  display: flex;
  flex-direction: column;
  color: #1B1F2B;
}

.form__control label {
  margin-bottom: 8px;
}

.form__control input, 
#direction, 
#comment {
  padding: 17px 19.5px 20.5px;
  border-radius: 10px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
}

.form__control input:focus,
#direction:focus,
#comment:focus {
  border: 1px solid #A6A6A6;
  outline: none;
}

textarea {
  max-height: 152px;
}

#comment {
  resize: none;
  color: #1B1F2B;
}

/* direction - айдишка селекта и все костыли чтобы сделать "плейсхолдер" */
#direction {
  /* стоковую галку убрал */
  appearance: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.direction-form {
  position: relative;
  width: 100%;
}

.direction-form::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 60px;
  right: 22px;
  background: url(/../assets/icons/mark.png) no-repeat center;
}

#direction:hover {
  background: #F4F0E9;
}

#direction option[value=""][disabled] {
  display: none;
}

#direction option {
  color: #1B1F2B;
}

.form__control input::placeholder, #direction:invalid {
  color: #A6A6A6;
}

/* СТИЛИ ДЛЯ РАДИОГОЛОВЫ */
.form__choices {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
}

.form__choices label input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0; 
  height: 0;
}

.form__choices label {
  padding-left: 37px;
  width: 94px;
  display:block;
  position: relative;
  cursor: pointer;
}

.fakeradio {
  position: absolute;
  top: 1.5px;
  left: 0;
  
  width: 26px; 
  height: 26px;
  background-color: white;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  transition: all 300ms ease;
}

.fakeradio::after {
  content: "";
  position: absolute;
  display: none;
  top: 5.65px;
  left: 5.65px;
  background-color:#1B1F2B;
  width: 12px;
  height: 12px;
  border-radius:50%;
}

label input:checked ~ .fakeradio:after {
  display: block;
}

/* СТИЛИ ЧЕКБОКСА */
.checkbox-block {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -5px;
  margin-bottom: 2px;
}

.checkbox-block input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0; 
  height: 0;
}

.checkbox-block label {  
  position: relative;

  font-size: 16px;
  line-height: 142%;
  padding-left: 45px;
  cursor: pointer;
}

.fakebox {
  position: absolute;
  top: -13px;
  left: 0;
  width: 26px; 
  height: 26px;
  background-color: white;
  border: 2px solid #1B1F2B;
  border-radius: 5px;
  transition: all 300ms ease;
}

.form-control .fakebox__text {
  color: #A6A6A6;
}

.fakebox:after {
  content: "";
  position: absolute;
  display: none;
  /* середина радиоголовы */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:#1B1F2B;
  width: 100%;
  height: 100%;
  
  border-color: #0b76ef;
  background-color: black;
  background: url(/../assets/icons/checkbox.png) center no-repeat;
}

.checkbox-block input:checked ~ .fakebox:after {
  display: block;
}

.form__license {
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  border-bottom: 1px rgba(0,0,0,0) solid;
  color: #1B1F2B;
}

.form__license:hover {
  border-bottom: 1px #1B1F2B solid;
}

.form__license:active {
  color: #286562;
  border-bottom: 1px #286562 solid;
}

.control-buttons {
  height: 58px;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.form__button {
  width: 100%;
  cursor: pointer;
  height: 58px;
  border-radius: 10px;
  padding: 15px 30px;
  border: none;
  transition: all 0.3s ease;
}

.form__buttons .sub-button {
  background: #286562;
  color: #fff;
}

.sub-button:hover {
  background: #3B7E7B;
}

.sub-button:active {
  background: #627F7E;
}

.form__buttons  .res-button {
  background: #E0F0E5;
  color: #286562;
}

.res-button:hover {
  background: #F1F3F2;
}

.res-button:active {
  background: #D9DFDB;
}

@media screen and (max-width: 1140px ){ 
  .form {
    padding: 60px;
  }
  form {
    grid-column-gap: 20px;
  }

  .form__buttons {
    position: absolute;
  }

  .form__button {
    width: 235px;
  }

  .checkbox-block label {  
    padding-left: 37px;
  }
}

@media screen and (max-width: 960px ){ 
  .form {
    padding: 20px;
    border-radius: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 29px;
    max-height: 100%;
  }

  .form__control input, 
  #direction, 
  #comment {
    padding: 10px;
  }

  #direction {
    padding: 11.5px 10px;    
  }
  
  .direction-form::after {
    top: 45px;
    right: 13.5px;
  }

  .form__choices label {
    padding-left: 30px;
    width: 81px;
  }
  
  .fakeradio {
    width: 20px; 
    height: 20px;
  }
  
  .fakeradio:after {
    width: 9.23px;
    height: 9.23px;
    top: 3.95px;
    left: 3.8px;
  }
  
  .fakebox:after {
    content: "";
    position: absolute;
    display: none;
    /* середина радиоголовы */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#1B1F2B;
    width: 100%;
    height: 100%;
    
    border-color: #0b76ef;
    background-color: black;
    background: url(assets/icons/checkbox.png) center no-repeat;
  }
  
  .form__license {
    color: #1B1F2B;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }

  .fakebox__text {
    position: relative;
    top: -2px;
    left: -6px;
  }

  .control-buttons {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  .form__buttons {
    position: static;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form__button {
    height: 47px;
    padding: 12px 30px;
  }
}

@media screen and (max-width: 680px ){ 
  .form {
    margin: 0 5px;
  }

  .fakebox {
    top: -35px;
    left: 1px;
    width: 20px;
    height: 20px;
  }

  textarea {
    max-height: 132px;
  }
}