.header {
  position: absolute;
  top: 0;
  left: 0;

  color: white;
  width: 100%;
} 

.nav-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  
  min-height: 88px;
  background: rgba(0,0,0,0);
}

.nav__items {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  cursor: pointer;
}

.nav__btns {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  margin: 0 25px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  border-bottom: 1px rgba(0,0,0,0) solid;
  transition: all 300ms ease;
}

.nav__number {
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  border-bottom: 1px rgba(0,0,0,0) solid;
  transition: all 300ms ease;
}

.nav__btn:hover, .nav__number:hover {
  border-bottom: 1px white solid;
}

.header__wrapper-fixed .nav__btn:hover,
.header__wrapper-fixed .nav__number:hover {
  border-bottom: 1px #1B1F2B solid;
}

.nav__btns:last-child {
  margin-right: 0;
}

/* классы для хедера при скроле > 450px */
.header__wrapper-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  color: black;
}

.nav__logo-black {
  filter: brightness(0) invert(6%) sepia(6%) saturate(6006%) hue-rotate(188deg) brightness(91%) contrast(85%);

  /* залил лого цветом  #1B1F2B
  https://codepen.io/sosuke/pen/Pjoqqp
  вот здесь заднный цвет можно конвертировать в фильтры
  + сначала яркость на ноль, надо на черный накладывать */
}

@media screen and (max-width: 1140px ){ 
  .nav__btns {
    justify-content: center;
    align-items: center;
    position: relative;
    right: 9px;
  }
  
  .nav__btn {
    margin-right: 5px;
  }

  .nav__number {
    position: relative;
    right: 5px;
  }
}

@media screen and (max-width: 960px ){
  .nav__btns {
    display: none;
  }
  .nav__number {
    font-size: 16px;
    line-height: 142%;
  }
  .nav__logo img {
    width: 133px;
    height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .nav__logo img {
    position: relative;
    top: 2px;
    left: 5px;
  }
}