.join {
  margin: 0 auto;
  padding-bottom: 135px;
}

.join__content {
  display: flex;
  align-items: center;
}

.join__img img {
  width: 370px;
  height: 370px;
  border-radius: 50px;
}

.join__info {
  padding-left: 30px;
  max-width: 400px;
}

.join__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
  position: relative;
  top: -3px;
}

.join__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
  padding-top: 20px;
}

.join__email {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  transition: all 0.3s ease;
  cursor: pointer;
  
  border-bottom: 1px rgba(0,0,0,0) solid;
}

.join__email:hover {
  border-bottom: 1px #1B1F2B solid;
}

.join__email:active {
  color: #286562;
  border-bottom: 1px #286562 solid;
}

@media screen and (max-width: 960px ){
  .join__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .join__img img {
    width: 260px;
    height: 260px;
    border-radius: 50px;
  }

  .join__info {
    padding: 30px 0 0 0;
    max-width: 300px;
  }

  .join__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.05em;
  }

  .join__subtitle {
    font-size: 16px;
    padding-top: 20px;
  }

  .join__email {
    font-size: 16px;
  }
}

@media screen and (max-width: 680px ){ 
  .join__img img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
  }
}